body{
  background-color: rgba(6, 27, 44);
  font-family: 'Overlock', cursive;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
#container-title{
  text-align: center;
}
#title{
  color: white;
  font-size: 40px;
  fon-weight: 1000;
  letter-spacing: 0.1em
}
#container-releases{
  width: 60%;
  height: 70vh;
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5vh;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  overflow: scroll;
}
.subtitle{
  font-size: 1.6em;
  font-style: italic;
}
.release{
  text-align: left;
  padding: 5vh 5vh 0 5vw;
}
